.container {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
}

header img {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
}

header {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 2rem auto;
  justify-content: center;
  align-items: center;
}

.busca {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
}

.input {
  flex-grow: 1;
  max-width: 40rem;
  margin-right: 1rem;
}

.btnBuscar {
  flex-grow: 1;
  max-width: 10rem;
}
